.page-header {
  color: #333333;
  background-image: none;
  background-color: #ffffff;
}

.page-header > div {
  margin-bottom: 50px;
}

#cargojson_logo {
  height: 140px;
}

#champ_logo {
  height: 118px;
}

.page-header > div > img {
  display: inline-block;
  vertical-align: middle;
}

.page-header > div > img:not(:last-child) {
  margin-right: 100px;
}

.btn {
  color: rgba(40,40,40,0.7);
  background-color: rgba(40,40,40,0.02);
  border-color: rgba(40,40,40,0.3);
}

.btn:hover {
  color: rgba(40,40,40,0.8);
  text-decoration: none;
  background-color: rgba(40,40,40,0.05);
  border-color: rgba(40,40,40,0.3);
}
